  <h5>キーワード検索</h5>
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field 'search[keyword]', size: "26x4", placeholder: 'キーワードから探す' %><br>
    <%= f.submit :"検索" %>
  <% end %>

  <table class="table table-bordered genre-table">
    <thead>
      <tr>
        <th>ジャンル検索</th>
      </tr>
    </thead>
    <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td>
          <%= link_to genre.name, genre_search_path('search[value]': genre.id) %>
        </td>
      </tr>
    <% end %>
    </tbody>
</table>

<h1>投稿一覧</h1>

<% @articles.each do |article| %>
  <h4>名前</h4>
  <%= article.user.name %>

  <h4>タイトル</h4>
  <%= link_to article_path(article.id) do %>
    <%= article.title %>
  <% end %>

  <h4>ジャンル</h4>
  <%= article.genre.name %>

  <h4>画像</h4>
  <%= attachment_image_tag article, :image %>
  <h4>本文</h4>
  <%= article.body %>
  <%= link_to  "#{article.article_comments.count}コメント", article_path(article) %>
<% end %>

<%= paginate @articles %>

<h1>いいね数ランキング</h1>
<% @all_ranks.each.with_index(1) do |article, i| %>
    第<%= i %>位
    <%= article.user.name %><br>
    <%= link_to article_path(article) do %>
      <%= article.title %>
    <% end %><br>
    ♥<%= article.favorites.count %>いいね
    <br>
<% end %>

