<%= notice %>
<%= render 'layouts/error_messages', obj: @article %>


<h1>投稿詳細</h1>

<h4>名前</h4>
<%= @article.user.name %>
<h4>タイトル</h4>
<%= @article.title %>
<h4>画像</h4>
<%= attachment_image_tag @article, :image %>
<h4>本文</h4>
<%= @article.body %>
<h4>投稿日時</h4>
<%= @article.created_at.strftime('%Y/%m/%d') %>

<% if @article.user == current_user %>
  <%= link_to "編集", edit_article_path(@article) %>
  <%= link_to "削除", article_path(@article), method: :delete, data: { confirm: '本当に削除しますか？' }  %>
<% end %>

<div class="favorite-btn_<%= @article.id %>"><%= render "favorites/favorites", article: @article %></div>


<%# コメント一覧 %>
<table class='comment-index'>
  <%= render 'article_comments/article_comments', article: @article %>
  <td class="comments-count">コメント件数：<%= @article.article_comments.count %></td>
</table>


<%# コメント新規投稿 %>
<%= form_with(model:[@article,@article_comment],remote: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントここに" %>
  <%= f.submit "送信する" %>
<% end %>
