<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3 mt-5">
      <%= render 'articles/ranking', all_ranks: @all_ranks, one_months_ago_ranks: @one_months_ago_ranks %>
    </div>

    <div class="col-md-8 offset-md-1 mt-5">
      <h2><i class="fas fa-users"></i>ユーザー一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th>名前</th>
            <th>紹介文</th>
            <th colspan="3"></th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.introduction %></td>
              <td>
                <% if current_user != user %>
                  <% if user.followed_by?(current_user) %>
                    <p><%=link_to "フォロー済み", user_relationships_path(user.id), method: :delete, class: "btn btn-secondary"  %></p>
                  <% else %>
                    <p><%=link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-outline-secondary" %></p>
                  <% end %>
                <% end %>
              </td>
              <td><%= link_to "プロフィール", user_path(user), class: "btn btn-outline-info" %></td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>













