<div class="container px-5 px-sm-0">
	<div class="row">
		<div class="col-md-5 mt-5">
			<h2>カレンダー</h2>
      <%= month_calendar events: @user.articles do |date, articles| %>
			  <%= date.day %>
			  <% articles.each do |article| %>
			    <div>
			      <%= link_to article.title, article_path(article) %>
			    </div>
			  <% end %>
			<% end %>
 		</div>
 		<div class="col-md-5 offset-md-1 mt-5">
 			<h2>マイページ</h2>
 			<h3>登録情報</h3>
 			<table class="table">
 				<tbody>
 					<tr>
 						<th></th>
 						<th></th>
 					</tr>
 					<tr>
 						<td>名前:<%= @user.name %></td>
 					</tr>
 					<tr>
 						<td>紹介文：<%= @user.introduction %></td>
 					</tr>
 				</tbody>
 			</table>
 			<p>
 				<%= link_to "投稿する", new_article_path %>
 			</p>
 			<p>
 			<% if @user.id == current_user.id %>
			  <%= link_to "プロフィール編集", edit_user_path(@user) %>
			<% end %>
 			</p>
		</div>
 	</div>
</div>





