<header>
  <nav class="navbar navbar-expand-lg header-nav">
    <div class="container">
      <%= link_to about_path do %>
        <img class="navbar-brand" src="<%= asset_path('logo2.png') %>" >
      <% end %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-tab ml-auto border-bottom">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to user_path(current_user) do %>
              <i class="fas fa-house-user nav-icon"></i>
              <span class="nav-text">マイページ</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_article_path do %>
              <i class="fas fa-edit nav-icon"></i>
              <span class="nav-text">投稿する</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to articles_path do %>
              <i class="fas fa-book-open nav-icon"></i>
              <span class="nav-text">投稿一覧</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to users_path do %>
              <i class="fas fa-users nav-icon"></i>
              <span class="nav-text">ユーザー一覧</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt nav-icon"></i>
              <span class="nav-text">ログアウト</span>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to root_path do %>
              <i class="fas fa-home nav-icon"></i>
              <span class="nav-text">Home</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to about_path do %>
              <i class="fas fa-question-circle nav-icon"></i>
              <span class="nav-text">MY DIARYとは</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_registration_path do %>
              <i class="fas fa-user-plus nav-icon"></i>
              <span class="nav-text">新規登録</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_session_path do %>
              <i class="fas fa-sign-in-alt nav-icon"></i>
              <span class="nav-text">ログイン</span>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>

